@font-face {font-family: "Arsenal-Regular";
	src: url("Arsenal-Regular/Arsenal-Regular.eot"); /* IE9*/
	src: url("Arsenal-Regular/Arsenal-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("Arsenal-Regular/Arsenal-Regular.woff2") format("woff2"), /* chrome、firefox */
	url("Arsenal-Regular/Arsenal-Regular.woff") format("woff"), /* chrome、firefox */
	url("Arsenal-Regular/Arsenal-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("Arsenal-Regular/Arsenal-Regular.svg#Arsenal-Regular") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "PT Sans Narrow Bold";
	src: url("PT Sans Narrow Bold/PTSansNarrowBold.eot"); /* IE9*/
	src: url("PT Sans Narrow Bold/PTSansNarrowBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("PT Sans Narrow Bold/PTSansNarrowBold.woff2") format("woff2"), /* chrome、firefox */
	url("PT Sans Narrow Bold/PTSansNarrowBold.woff") format("woff"), /* chrome、firefox */
	url("PT Sans Narrow Bold/PTSansNarrowBold.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("PT Sans Narrow Bold/PTSansNarrowBold.svg#PTSansNarrowBold") format("svg"); /* iOS 4.1- */
}

@font-face {font-family: "PT Sans Narrow Regular";
	src: url("PT Sans Narrow/PTSansNarrowRegular.eot"); /* IE9*/
	src: url("PT Sans Narrow/PTSansNarrowRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("PT Sans Narrow/PTSansNarrowRegular.woff2") format("woff2"), /* chrome、firefox */
	url("PT Sans Narrow/PTSansNarrowRegular.woff") format("woff"), /* chrome、firefox */
	url("PT Sans Narrow/PTSansNarrowRegular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("PT Sans Narrow/PTSansNarrowRegular.svg#PTSansNarrowRegular") format("svg"); /* iOS 4.1- */
}